{% extends 'main.html' %}{% block content %}
<div class="container-fluid bg-info mt-5 p-3">
  <div class="row">
    <!-- Form Column -->
    <div class="col-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div
        class="alert alert-success alert-dismissable"
        role="alert"
        style="color: {% if category == 'success' %}green{% elif category == 'danger' %}red{% else %}black{% endif %}"
      >
        {% for category, message in messages %} {{ message }} {% endfor %}
        <button class="btn btn-close" aria-label="close">&Cross;</button>
      </div>

      {% endif %} {% endwith %}

      <div class="card">
        <div class="card-body bg-warning">
          <form
            action="{{ url_for('index') }}"
            method="post"
            class="index-form"
          >
            {{ form.hidden_tag() }}
            <div class="mb-3">{{ form.title(class='form-control') }}</div>
            <div class="mb-3">
              {{ form.description(class='form-control',rows=4,cols=40) }}
            </div>
            <div class="mb-3">{{ form.category(class='form-select') }}</div>
            <div class="mb-3">
              {{ form.date_due.label(class='form-label') }} {{
              form.date_due(class='form-control' + (' is-invalid' if
              form.date_due.errors else '')) }} {% for error in
              form.date_due.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="d-grid">
              {{ form.submit(class='btn btn-success ') }}
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Tasks Column -->
    <div class="col-8 bg-success text-white">
      <h1 class="text-center">Tasks</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-secondary">
          <thead>
            <tr>
              <th>Status</th>
              <th>Title</th>
              <th>Description</th>
              <th>Details</th>

              <th>Action</th>
            </tr>
          </thead>

          {% for task in tasks %}
          <tbody>
            <tr>
              <td>
                <form
                  action="{{ url_for('update_task_status', task_id=task.id) }}"
                  method="post"
                >
                  <input
                    type="checkbox"
                    name="completed"
                    class="form-check-input ms-3"
                    {%
                    if
                    task.status
                    %}
                    checked
                    {%
                    endif
                    %}
                    onchange="this.form.submit()"
                  />
                </form>
              </td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td class="ps-3">
                <small class="row text-center">
                  Date created:
                  <span class="no-wrap">{{ task.date_created}}</span>
                </small>
                <small class="row text-center">
                  Date due:
                  <span class="no-wrap">{{ task.date_due}}</span>
                </small>
              </td>
              <td>
                <div class="d-grid gap-1">
                  <form
                    action="{{ url_for('edit_task', task_id=task.id) }}"
                    method="get"
                    class="d-grid"
                  >
                    <button type="submit" class="btn btn-warning btn-sm mb-2">
                      Edit
                    </button>
                  </form>
                  <form
                    action="{{ url_for('delete_task', task_id=task.id) }}"
                    method="post"
                    class="d-grid"
                  >
                    <button type="submit" class="btn btn-danger btn-sm">
                      Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
