{% extends 'auth.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<main class="main-container">
  <div class="col-md-4 " >
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div
      class="alert alert-success alert-dismissable"
      role="alert"
      style="color: {% if category == 'success' %}green{% elif category == 'danger' %}red{% else %}black{% endif %}"
    >
      {% for category, message in messages %} {{ message }} {% endfor %}
      <button class="btn btn-close" aria-label="close">&Cross;</button>
    </div>

    {% endif %} {% endwith %}
  <form method="post" action="{{ url_for('login')}}" class="login-form">
    {{ form.hidden_tag() }}
    <h1>Login</h1>

    <div class="username">
      {% if form.username.errors %} {{ form.username(class="input-box") }} {%
      for error in form.username.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.username(class='input-box') }} {% endif %}
      <!-- <i class="bx bxs-user"></i> -->
    </div>

    <div class="password">
      {% if form.password.errors %} {{ form.password(class="input-box") }} {%
      for error in form.password.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.password(class="input-box") }} {% endif %}
      <!-- <i class="bx bxs-lock-alt"></i> -->
    </div>

    <div class="remember-forgot">
      <span>
        {{ form.remember(class='checkbox')}} {{ form.remember.label() }}
      </span>
      <a href="#">Forgot password?</a>
    </div>

    {{ form.submit(class="submit") }}
    <div class="sign-up">
      Don't have an account?
      <a href="{{ url_for('register') }}">Register</a>
    </div>
  </form>
</main>

{% endblock %}
<!-- TODO Ongeza hio jicho ya kuona pasword na hizo icons za user na
usisahau kueka hizo links kwa base -->
