{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<main class="main-container">
  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li
        class="flash-message"
        style="color: {% if category == 'success' %}green{% elif category ==
        'danger' %}red{% else %}black{% endif %}"
      >
        <span class="span-message"> {{ message }} </span>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>

  <form method="post" action="{{ url_for('register')}}" class="register-form">
    {{ form.hidden_tag() }}

    <h1>Register</h1>

    <div class="username">
      {% if form.username.errors %} {{ form.username(class="input-box") }} {%
      for error in form.username.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.username(class='input-box') }} {% endif %}
    </div>
    <div class="email">
      {% if form.email.errors %} {{ form.email(class="input-box") }} {% for
      error in form.email.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.email(class="input-box") }} {% endif %}
    </div>
    <div class="password">
      {% if form.password.errors %} {{ form.password(class="input-box") }} {%
      for error in form.password.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.password(class="input-box") }} {% endif %}
    </div>
    <div class="confirm_password">
      {% if form.confirm_password.errors %} {{
      form.confirm_password(class="input-box") }} {% for error in
      form.confirm_password.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %} {% else %} {{ form.confirm_password(class="input-box") }} {%
      endif %}
    </div>
    {{ form.submit(class="submit") }}
    <div class="sign-in">
      Already have an account?
      <a href="{{ url_for('login') }}">Sign In</a>
    </div>
  </form>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const flashMessages = document.querySelectorAll('.flash-message'); // Highlighted change
    flashMessages.forEach(function(message) {
      setTimeout(function() { // Highlighted change
        message.style.display = 'none'; // Highlighted change: Or use message.remove() to remove the element entirely
      }, 2000); // Highlighted change: Adjust the delay (in milliseconds) as needed
    });
  });
</script
{% endblock %}
